* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  height: 70px;
  background: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
}

.navlogo img {
  width: 120px;
}

/* LOCATION */
.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: white;
}

.address span {
  font-weight: bold;
  font-size: 13px;
}

/* SEARCH */
.searchbar {
  display: flex;
  flex: 1;
  max-width: 650px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 5px;
}

.searchbar select {
  padding: 10px;
  border: none;
  background: #eee;
}

.searchbar input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.searchbar button {
  width: 45px;
  border: none;
  background: #febd69;
  cursor: pointer;
}

.searchbar button:hover {
  background: #f3a847;
}

/* NAV ITEMS */
.nav-item, .cart {
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.nav-item b, .cart b {
  display: block;
  font-size: 14px;
}

/* SECOND NAV */
.nav-secondary {
  margin-top: 70px;
  background: #232f3e;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 10px 15px;
  color: white;
}

.nav-secondary p {
  font-size: 13px;
  cursor: pointer;
}

.nav-secondary p:hover {
  border-bottom: 1px solid white;
}

.menu {
  display: flex;
  gap: 5px;
  font-weight: bold;
}

/* HERO */
.hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* PRODUCT SECTION */
.product-section {
  background: #e3e6e6;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
}

/* BOX */
.box {
  background: white;
  width: 300px;
  padding: 15px;
  text-align: center;
}

.box img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin: 10px 0;
}

.box h2 {
  font-size: 18px;
}

.box p {
  color: #007185;
  cursor: pointer;
}

/* FOOTER */
footer {
  margin-top: 20px;
}

.foot-top {
  background: #232f3e;
  color: white;
  text-align: center;
  padding: 15px;
}

.foot-links {
  background: #2f3d41;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}

.foot-links h4 {
  margin-bottom: 10px;
}

.foot-links p {
  font-size: 13px;
  margin: 5px 0;
  cursor: pointer;
}

.foot-bottom {
  background: #1b1917;
  text-align: center;
  padding: 20px;
}

.foot-bottom img {
  width: 80px;
}